header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 50px 0;
    padding: 0 3% 0;
    height: 60px;
    background: $dark01a;
    // background: crimson;
    position: fixed;
    width: 100%;
    z-index: 50;

    nav {
        // flex: 1;
        ul {
            list-style: none;
            display: flex;
            // background: blue;
            // flex: 1;
            li {
                font-size: 1.6rem;
                color: $white;
                // padding-right: 1.4rem;
                margin-right: 18px;
                font-weight: $light;

                @include tablet {
                    margin-right: 12px;
                }

                @include mobileBig {
                    margin-right: 8px;
                    font-size: 1.4rem;
                }

                @include mobile {
                    margin-right: 6px;
                    font-size: 1.3rem;
                }

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    font-weight: $medium;
                    border-bottom: 2px solid $white;
                }
            }

            // .active {
            //     position: relative;
            //     font-weight: $medium;

            //     &::after {
            //         content: "";
            //         height: 2px;
            //         background: $white;
            //         width: 100%;
            //     }
            // }
        }
    }

    button {
        color: $dark01a;
        background: $yellow;
        border: none;
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: $light;
        font-size: 1.2rem;

        &:hover {
            cursor: pointer;
        }

        @include mobile {
            padding: 4px 6px;
        }
    }
}
