.landing {
    background: $dark01a;
    // min-height: calc(100vh - 40px);
    min-height: 100vh;
    // padding-top: 60px;
    display: flex;
    // align-items: flex-end;
    // justify-content: space-between;
    padding: 0 0 0 $paddingLRContainer;
    // padding: 0 $paddingLRContainer;

    @include mobileBig {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 0 0;
    }

    .introText {
        color: $white;
        // background: blue;
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobileBig {
            // align-items: center;
            margin: 0 auto;
            flex: 6;
            padding-top: 50px;
        }

        h2 {
            font-size: 4.8rem;
            font-weight: $medium;
            line-height: 4.8rem;
        }

        h1 {
            font-size: 6.2rem;
            font-weight: $semiBold;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: $light;
            line-height: 2.4rem;

            span {
                color: $green;
                font-weight: $semiBold;
                letter-spacing: 1px;
            }
        }
    }

    .introImg {
        // flex: 2;
        flex: 7;
        // background: grey;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: flex-end;
        align-items: center;
        overflow: hidden;
        z-index: 10;
        // padding-right: 20px;
        // padding-bottom: 20px;
        position: relative;

        @include mobileBig {
            // align-items: center;
            // background: chocolate;
            flex: 6;
        }

        .circle {
            display: flex;
            align-items: center;
            width: 400px;
            height: 400px;
            position: relative;
            $border: 65px;
            // color: #fff;
            background: $dark01a;
            background-clip: padding-box; /* !importanté */
            border: solid $border transparent; /* !importanté */
            border-radius: 50%;
            // z-index: 2;
            bottom: -20px;

            @include tablet {
                width: 360px;
                height: 360px;
                $border: 50px;
            }

            @include mobileBig {
                width: 360px;
                height: 360px;
                // width: 90%;
                // height: 90%;
                $border: 45px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                // bottom: -20px;
                left: 0;
                z-index: -1;
                margin: -$border; /* !importanté */
                border-radius: inherit; /* !importanté */
                background: linear-gradient(0deg, $greenGradient02 0%, $green 100%);
            }
        }

        .imgContainer {
            position: absolute;
            // position: relative;
            // background: grey;
            width: 250px;
            // width: 50%;
            // width: auto;
            height: calc(90vh - 60px);
            // height: auto;
            // height: 80%;
            // height: calc(80vh - 60px);
            bottom: 0;

            @include tablet {
                height: calc(100vh - 60px);
                // height: 440px;
                width: 230px;
                bottom: 0;
            }

            @include mobileBig {
                // height: calc(85vh - 60px);
                // height: 360px;
                // width: 190px;
                height: 80%;
                width: 40%;
                bottom: 0;
            }

            @include mobile {
                // height: calc(80vh - 60px);
                // height: 60%;
                // height: 290px;
                // width: 150px;
                // width: 50%;
                height: 80%;
                width: 60%;
                bottom: -20px;
            }
        }
    }
}
