.landing {
    background: $dark01a;
    // min-height: calc(100vh - 40px);
    min-height: 100vh;
    // padding-top: 60px;
    display: flex;
    // align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 0 $paddingLRContainer;
    // padding: 0 $paddingLRContainer;

    .introText {
        color: $white;
        // background: blue;
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 4.8rem;
            font-weight: $medium;
            line-height: 4.8rem;
        }

        h1 {
            font-size: 6.2rem;
            font-weight: $semiBold;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: $light;
            line-height: 2.2rem;
        }
    }

    .introImg {
        // flex: 2;
        flex: 7;
        // background: grey;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: flex-end;
        align-items: center;
        overflow: hidden;
        z-index: 10;
        // padding-right: 20px;
        // padding-bottom: 20px;

        .circle {
            display: flex;
            align-items: center;
            width: 400px;
            height: 400px;
            position: relative;
            $border: 65px;
            // color: #fff;
            background: $dark01a;
            background-clip: padding-box; /* !importanté */
            border: solid $border transparent; /* !importanté */
            border-radius: 50%;
            // z-index: 2;
            bottom: -20px;

            @include tablet {
                width: 360px;
                height: 360px;
                position: relative;
                $border: 50px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                // bottom: -20px;
                left: 0;
                z-index: -1;
                margin: -$border; /* !importanté */
                border-radius: inherit; /* !importanté */
                background: linear-gradient(0deg, $greenGradient02 0%, $green 100%);
            }
        }

        .imgContainer {
            position: absolute;
            // background: blue;
            width: 400px;
            height: 400px;
            bottom: 0;

            @include tablet {
                width: 360px;
                height: 360px;
            }
        }
    }
}
