.projects {
    display: flex;
    flex-direction: column;
    padding: 80px $paddingLRContainer;
    background: $dark02;
    // z-index: 1;

    .whyMe {
        display: flex;
        flex-direction: column;
        // flex: 2.5;
        // background: green;
        // align-items: center;
        justify-content: center;
        color: $white;
        padding: 0 30px 50px 20px;

        .titleContainer {
            display: flex;
            align-items: center;

            .line {
                height: 1px;
                width: 16px;
                background: $green;
            }

            p {
                color: $green;
                font-size: 1.8rem;
                // font-weight: $medium;
                font-weight: $light;
                margin-left: 5px;
            }
        }

        .whyHire {
            // background: crimson;
            padding-left: 120px;
            h3 {
                font-size: 2.8rem;
                margin: 18px 0 8px;
            }

            p {
                font-size: 1.4rem;
                font-weight: $light;
            }
        }
    }

    .projectsList {
        display: flex;
        flex-direction: column;

        .projectRow {
            display: flex;
            // background: darkgoldenrod;
            // padding: 40px 80px 0;
            justify-content: space-between;
            padding: 40px 5% 80px;
            // padding: 40px 0 80px;
            z-index: 10;

            &.reverse {
                flex-direction: row-reverse;
            }

            .projectDescriptionContainer {
                // background: darkgreen;
                flex: 1;
                display: flex;
                align-items: center;

                &.reverse {
                    flex-direction: row-reverse;
                }

                .projectTitle {
                    display: flex;
                    flex-direction: column;
                    // flex: 2.5;
                    // background: red;
                    // align-items: center;
                    justify-content: center;
                    color: $white;
                    padding: 0 30px 50px 20px;

                    .titleContainer {
                        display: flex;
                        align-items: center;

                        .line {
                            height: 1px;
                            width: 12px;
                            background: $green;
                        }

                        p {
                            color: $green;
                            font-size: 1.2rem;
                            // font-weight: $medium;
                            font-weight: $light;
                            margin-left: 5px;
                        }
                    }

                    .projectDescription {
                        // background: crimson;
                        // padding-left: 120px;
                        h3 {
                            font-size: 2rem;
                            margin: 4px 0 8px;
                        }

                        p {
                            font-size: 1.2rem;
                            font-weight: $light;
                            margin-bottom: 12px;
                        }

                        a {
                            color: $yellow;
                            text-decoration: none;
                            font-size: 1.2rem;
                            font-weight: $light;
                        }
                    }
                }
            }

            .projectImageContainer {
                // flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                // background: darkorchid;
                width: 420px;
                height: 190px;
                z-index: 5;
                position: relative;

                @include tablet {
                    width: 300px;
                    height: 150px;
                }

                .imageBackground01 {
                    position: absolute;
                    background: $dark03a;
                    // background: red;
                    transform: rotate(-3deg);
                    // flex: 3;
                    // width: 100%;
                    // height: 100%;
                    width: 430px;
                    height: inherit;
                    z-index: -1;
                    border-radius: 10px;

                    @include tablet {
                        width: 310px;
                        height: inherit;
                    }

                    &.reverse {
                        transform: rotate(3deg);
                    }
                }

                .imageBackground02 {
                    position: absolute;
                    background: $dark01a;
                    // background: red;
                    // transform: rotate(-3deg);
                    // flex: 3;
                    // width: 100%;
                    // height: 100%;
                    width: inherit;
                    height: 210px;
                    left: 10px;
                    top: -5px;
                    z-index: -2;
                    border-radius: 10px;

                    @include tablet {
                        width: inherit;
                        height: 160px;
                    }
                }
                > div {
                    position: unset !important;
                    // background: crimson;
                }

                .image {
                    object-fit: contain;
                    width: 100% !important;
                    position: relative !important;
                    height: unset !important;
                    border-radius: 10px;
                }
            }
        }
    }
}
