.projects {
    display: flex;
    flex-direction: column;
    padding: 80px $paddingLRContainer;
    background: $dark02;
    // z-index: 1;

    @include mobileBig {
        padding: 40px $paddingLRContainer;
    }

    .whyMe {
        display: flex;
        flex-direction: column;
        // flex: 2.5;
        // background: green;
        // align-items: center;
        justify-content: center;
        color: $white;
        padding: 0 30px 50px 20px;

        @include mobileBig {
            padding: 0 5% 0 5%;
            margin: 0 auto;
        }

        .titleContainer {
            display: flex;
            align-items: center;

            .line {
                height: 1px;
                width: 16px;
                background: $green;
            }

            p {
                color: $green;
                font-size: 1.8rem;
                // font-weight: $medium;
                font-weight: $light;
                margin-left: 5px;
            }
        }

        .whyHire {
            // background: crimson;
            padding-left: 120px;

            @include mobileBig {
                // padding-left: 70px;
                padding-left: 0;
                padding-bottom: 30px;
            }
            h3 {
                font-size: 2.8rem;
                margin: 18px 0 8px;
            }

            p {
                font-size: 1.4rem;
                font-weight: $light;
            }
        }
    }

    .projectsList {
        display: flex;
        flex-direction: column;

        .projectRow {
            display: flex;
            // background: darkgoldenrod;
            // padding: 40px 80px 0;
            justify-content: space-between;
            padding: 40px 5% 80px;
            // padding: 40px 0 80px;
            z-index: 10;

            @include mobileBig {
                padding: 30px 5% 30px;

                flex-direction: column;
                // align-items: center;
            }

            &.reverse {
                flex-direction: row-reverse;

                @include mobileBig {
                    flex-direction: column;
                }
            }

            .projectDescriptionContainer {
                // background: darkgreen;
                flex: 3;
                display: flex;
                align-items: center;

                &.reverse {
                    flex-direction: row-reverse;
                }

                @include mobileBig {
                    // background: cyan;
                    flex: 1;
                }

                .projectTitle {
                    display: flex;
                    flex-direction: column;
                    // flex: 2.5;
                    // background: red;
                    // align-items: center;
                    justify-content: center;
                    color: $white;
                    padding: 0 30px 50px 20px;

                    @include mobileBig {
                        // background: blue;
                        padding: 0 10px 30px 10%;
                        // justify-content: flex-start;
                        // align-items: center;
                        // background: chartreuse;
                        flex: 1;
                        width: 100%;
                    }

                    &.reverse {
                        padding: 0 10px 50px 40px;

                        @include mobileBig {
                            // background: blue;
                            padding: 0 10px 30px 10%;
                            // justify-content: flex-start;
                            // align-items: center;
                        }
                    }

                    .titleContainer {
                        display: flex;
                        align-items: center;

                        .line {
                            height: 1px;
                            width: 12px;
                            background: $green;
                        }

                        p {
                            color: $green;
                            font-size: 1.4rem;
                            // font-weight: $medium;
                            font-weight: $light;
                            margin-left: 5px;
                        }
                    }

                    .projectDescription {
                        // background: crimson;
                        // padding-left: 120px;
                        h3 {
                            font-size: 2.2rem;
                            margin: 4px 0 8px;
                        }

                        p {
                            font-size: 1.6rem;
                            font-weight: $light;
                            margin-bottom: 12px;
                        }

                        a {
                            color: $yellow;
                            text-decoration: none;
                            font-size: 1.4rem;
                            font-weight: $light;
                        }
                    }
                }
            }

            .projectImageWrapper {
                // background: yellow;
                // flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;

                .projectImageContainer {
                    // flex: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: darkorchid;
                    width: 420px;
                    height: 190px;
                    z-index: 5;
                    position: relative;

                    @include tablet {
                        width: 300px;
                        height: 150px;
                    }

                    @include mobileBig {
                        // flex: 3;
                        // width: 160px;
                        // height: 80px;
                        width: 230px;
                        height: 115px;
                    }

                    .imageBackground01 {
                        position: absolute;
                        background: $dark03a;
                        // background: red;
                        transform: rotate(-3deg);
                        // flex: 3;
                        // width: 100%;
                        // height: 100%;
                        // width: 430px;
                        // this is IMPORTANT otherwise it does not shrink as IMAGE
                        width: 100%;
                        height: inherit;
                        z-index: -1;
                        border-radius: 10px;

                        @include tablet {
                            // width: 310px;
                            width: 100%;
                            height: inherit;
                        }

                        @include mobileBig {
                            // width: 170px;
                            width: 100%;
                            height: inherit;
                        }

                        &.reverse {
                            transform: rotate(3deg);
                        }
                    }

                    .imageBackground02 {
                        position: absolute;
                        background: $dark01a;
                        // background: red;
                        // transform: rotate(-3deg);
                        // flex: 3;
                        // width: 100%;
                        // height: 100%;
                        // width: inherit;
                        // this is IMPORTANT otherwise it does not shrink as IMAGE
                        width: 100%;
                        height: 210px;
                        left: 10px;
                        top: -5px;
                        z-index: -2;
                        border-radius: 10px;

                        @include tablet {
                            // width: inherit;
                            // this was the solution for it
                            width: 100%;
                            height: 160px;
                        }

                        @include mobileBig {
                            // width: inherit;
                            // this was the solution for it
                            width: 100%;
                            // height: 90px;
                            height: inherit;
                        }
                    }
                    > div {
                        position: unset !important;
                        // background: crimson;
                    }

                    .image {
                        object-fit: contain;
                        width: 100% !important;
                        position: relative !important;
                        height: unset !important;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
