.social {
    display: flex;
    flex-direction: column;
    padding: 80px $paddingLRContainer;
    background: $dark02;

    .whyMe {
        display: flex;
        flex-direction: column;
        // flex: 2.5;
        // background: green;
        // align-items: center;
        justify-content: center;
        color: $white;
        padding: 0 30px 50px 20px;

        .titleContainer {
            display: flex;
            align-items: center;

            .line {
                height: 1px;
                width: 16px;
                background: $green;
            }

            p {
                color: $green;
                font-size: 1.8rem;
                // font-weight: $medium;
                font-weight: $light;
                margin-left: 5px;
            }
        }

        .whyHire {
            padding-left: 120px;
            h3 {
                font-size: 2.8rem;
                margin: 18px 0 8px;
            }
        }
    }

    .socialList {
        display: flex;
        // background: crimson;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // justify-content: space-between;
        .socialCard {
            display: flex;
            align-items: center;
            background: $dark01a;
            border-radius: 20px;
            width: 300px;
            height: 140px;
            margin-bottom: 30px;
            margin-right: 10px;
            overflow: hidden;
            position: relative;

            &:nth-child(even) > .corner {
                top: 105px;
                // background: linear-gradient(225deg, black 10%, white 100%);
                background: linear-gradient(225deg, $greenGradient02 10%, $green 100%);
            }

            .corner {
                background: linear-gradient(315deg, $greenGradient02 20%, $green 100%);
                // background: linear-gradient(315deg, black 10%, white 100%);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: absolute;
                top: -25px;
                // right: -15px;
                left: -20px;
            }

            .socialText {
                flex: 7;
                // background: chocolate;
                display: flex;
                flex-direction: column;
                // align-items: center;
                color: $white;
                padding-left: 20px;

                h3 {
                    font-weight: $semiBold;
                    font-size: 2.2rem;
                    letter-spacing: 1px;
                }

                p {
                    font-weight: $light;
                    font-size: 1.4rem;
                    letter-spacing: 1px;
                }
            }
            .socialIcon {
                flex: 5;
                // background: cornflowerblue;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 10px;

                a {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 1px solid $green;
                    background: $dark02;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        color: $green;
                        font-size: 2.8rem;
                        filter: drop-shadow(0px 0px 22px $green);
                    }
                }
            }
        }
    }
}
