$dark01a: #242628;
$dark01b: #252628;
$dark01c: #272728;
// $dark02: #2f2f35;
// $dark02: #2e2e32;
$dark02: #2d2d32;

$dark03a: #3f4045;
$adrk03b: #3f3f3f;

$white: #fdfdfd;
$green: #61eba7;
// $green: #00dbdb;

$greenGradient01: #399266;
$greenGradient02: #38845f;
// $greenGradient02: #009999;
$yellow: #f6b428;

// turquaise
// #00dbdb

// turquaiseGradient
// #00b3b3

$extraLight: 200;
$light: 300;
$medium: 500;
$semiBold: 600;

$paddingLRContainer: 65px;
